{% extends 'base.html' %}

{% block title %}Clear data{% endblock %}

{% block content %}
<div class="alert alert-danger" id="success-message" role="alert"><b>WARNING: clearing data is permanent. All data will need to be re-entered.</b></div>
<button class="btn btn-danger" id="main-button" onclick="deleteData()">Continue</button>
<a class="btn btn-dark visible" href="{{ url_for('index') }}">Cancel</a>
{% endblock %}

{% block head %}
<script>
    function showMessage(messageClass, messageText){
        sm = document.querySelector('#success-message');
        sm.classList.remove('alert-danger');
        sm.classList.add(messageClass);
        sm.textContent = messageText;
        sm.classList.remove('invisible');

        document.querySelectorAll('.visible').forEach((node) => {
            node.classList.remove('visible');
            node.classList.add('invisible');
        });

        mb = document.querySelector('#main-button')
        newMb = document.createElement('a')
        newMb.setAttribute('href', '{{ url_for('index') }}')
        newMb.classList.add('btn', 'btn-dark');
        newMb.textContent = 'Back to Main Menu';
        mb.parentNode.replaceChild(newMb, mb);
    }

    function deleteData() {
        fetch('{{ url_for('clear_data') }}', {method: 'DELETE'})
            .then(response => {
                return response.json();
            }).then(json => {
                if (json.success) {
                    showMessage('alert-success', 'Data cleared successfully.');
                } else {
                    showMessage('alert-danger', 'Something went wrong. Please try again.');
                }
            });
    }
</script>
{% endblock %}